.page.theme_dark {
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --decoration-color: #ff0070;
  --btn-hover-border-color: #ff007066;
  --background-color: #000028;
  --backgroung-image: url(../images/cover-image-dark.png);
}

.theme_dark .decorated-element {
  display: flex;
}
