.page.theme_light {
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --decoration-color: #353430;
  --btn-hover-border-color: #32312d66;
  --backgroung-image: url(../images/cover-image-light.png);
}

.theme_light .decorated-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #ffc2e6;
    --subtitle-color: #353430;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --decoration-color: #353430;
    --btn-hover-border-color: #32312d66;
    --backgroung-image: url(../images/cover-image-light.png);
  }

  .decorated-element {
    display: none;
  }
}
