.page {
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
  background-color: var(--background-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-width: 375px;
  min-height: 668px;
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-left: 1px solid var(--decoration-color);
  border-bottom: 1px solid var(--decoration-color);
}

.decorated-element {
  position: absolute;
  color: var(--accent-color);
  top: 10px;
  right: 40px;
}

.decorated-element::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  top: 8px;
  left: 44px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  margin-inline-start: 10px;
}

.header__subtitle {
  align-self: center;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-block-end: 10px;
}

.title-decor {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
  font-weight: 700;
}

.header__theme-menu {
  display: grid;
  align-content: center;
}

.header__theme-menu-list {
  color: var(--decoration-color);
  display: grid;
  margin-inline-end: 13px;
  margin-block-start: 10px;
  justify-self: end;
  gap: 10px;
}

.header__theme-menu-button {
  border: transparent;
  background: none;
  text-transform: lowercase;
  cursor: pointer;
  appearance: none;
  padding: 4px 10px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover-border-color);
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.main {
  display: grid;
  row-gap: 50px;
  padding: 40px 10px 0px;
}

.section {
  display: grid;
  row-gap: 20px;
}

.section__title {
  display: grid;
  color: var(--decoration-color);
  grid-template-columns: 1fr;
  font-weight: 700;
  font-size: 18px;
}

.articles-container {
  display: grid;
  row-gap: 20px;
}

.articles-container-column {
  grid-template-columns: 1fr;
}

.article-item {
  display: grid;
  gap: 10px;
}

.article-item__title {
  font-size: 18px;
}

.article-item__text {
  color: var(--text-color);
}

.article-item__subtitle {
  font-weight: 400;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section-gallery {
  gap: 10px;
}

.section-gallery__title {
  font-size: 18px;
}

.section-gallery__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  height: 100vh;
  margin-block-start: 40px;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.1055rem + 0.6163vw, 7.5rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 83%;
}

@media (width >= 768px) {
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorated-element {
    top: 20px;
    right: 45px;
  }

  .decorated-element::after {
    content: "";
    left: 39px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    display: grid;
    justify-self: end;
    width: 47%;
    margin-inline-end: 20px;
    margin-block-end: 30px;
  }

  .header__theme-menu-list {
    display: grid;
    justify-self: end;
    margin-block-start: 20px;
    margin-inline-end: 23px;
    gap: 10px;
  }

  .main {
    padding-left: 20px;
    padding-right: 20px;
    margin-block-start: 20px;
  }

  .section-one {
    grid-template-columns: 1fr 472px;
  }

  .section__title {
    width: 90%;
  }

  .section-two {
    padding-top: 30px;
  }

  .section-two__title {
    width: 30%;
  }

  .section-three {
    display: grid;
    padding-top: 30px;
    grid-template-columns: 1fr 470px;
  }

  .section-gallery {
    padding-top: 30px;
    gap: 20px;
  }

  .section-gallery__title {
    grid-column: 1 / 4;
  }

  .section-gallery__image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-gallery__image:nth-child(2) {
    grid-column: 1 / 3;
  }

  .section-gallery__image:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .section-gallery__image:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .section-gallery__image:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .section-gallery__image:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    width: 48%;
    margin-block-end: 20px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    margin-block-start: 20px;
    margin-inline-start: 25px;
    gap: 17px;
    justify-content: center;
  }

  .main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-one {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  .section__title {
    width: 100%;
  }

  .section-two__title {
    width: 30%;
  }

  .articles-container-column {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
  }

  .section-three {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
